{% extends 'header/header_footer_in.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TechJobs</title>
    <link rel="shortcut icon" href="{% static 'home/images/Untitled-1.png'%}" type="image/png">
    <link rel="shortcut icon" type="image/png" href="{% static 'home/images/Untitled-1.png'%}" />
    <link rel="stylesheet" href="{% static 'profiles/freelancer_wizard/css/archive/style.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/bootstrap-tagsinput.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
 integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
 crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
 integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
 crossorigin="anonymous"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
        <!--  start header -->

    <!-- start section create -->
    <section id="getting_start">
    <div class="create_head">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="main_left">
                        <ul class="main_left_ul">
                            <li class="main_left_li active">
                                <a href="{% url 'profile_wizard:profile_wizard' 'starter' %}"><i class="fas fa-pencil-ruler"></i>Start<i
                                        class="fas fa-chevron-circle-down"></i></i></a>
                            </li>
                            <li class="main_left_li active">
                                <a href="{% url 'profile_wizard:profile_wizard' 'education' %}"><i class="fas fa-user-graduate"></i>Education <i
                                        class="fas fa-chevron-circle-down"></i></i></a>
                            </li>
                            <li class="main_left_li active">
                                <a href="{% url 'profile_wizard:profile_wizard' 'employment' %}"><i class="fas fa-briefcase"></i>Employment <i
                                        class="fas fa-chevron-circle-down"></i></i></a>
                            </li>
                            {% if  all_data.starter.status == 'Freelancer' %}
                            <li class="main_left_li active">

                                <a href="{% url 'profile_wizard:profile_wizard' 'hour_rate' %}"><i class="fas fa-search-dollar"></i>Hourly Rate <i
                                        class="fas fa-chevron-circle-down"></i></i></a>
                            </li>
                            {% endif %}
                            <li class="main_left_li active current">
                                <a href="{% url 'profile_wizard:profile_wizard' 'proficiency' %}"><i class="fas fa-eye"></i>Languages & Skills <i
                                        class="fas fa-chevron-circle-down"></i></i></a>
                            </li>
                            <li class="main_left_li">
                                <a href="#"><i class="fas fa-search-location"></i>Location <i
                                        class="fas fa-chevron-circle-down"></i></i></a>
                            </li>
                            <li class="main_left_li">
                                <a href="#"><i class="fas fa-check"></i>Review <i
                                        class="fas fa-chevron-circle-down"></i></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 main_sign">
                    <!--<form  action="{% url  'profile_wizard:profile_wizard' step %}" method="post"> {% csrf_token %}-->
                        {{ wizard.management_form }}
                        <div class="main_sign_info">
                        <div class="profiction_main">
                            <h3 class="profiction">What is your English proficiency? </h3>
                             <!-- {{ form.language_compatancy }} -->
                             <div class="langauge">
                             <div class="language_check">
                                    <select id="language">
                                            <option default>Select Language</option>
                                            <option value="Afrikanns">Afrikanns</option>
                                            <option value="Albanian">Albanian</option>
                                            <option value="Arabic">Arabic</option>
                                            <option value="Armenian">Armenian</option>
                                            <option value="Basque">Basque</option>
                                            <option value="Bengali">Bengali</option>
                                            <option value="Bulgarian">Bulgarian</option>
                                            <option value="Catalan">Catalan</option>
                                            <option value="Cambodian">Cambodian</option>
                                            <option value="Chinese (Mandarin)">Chinese (Mandarin)</option>
                                            <option value="Croation">Croation</option>
                                            <option value="Czech">Czech</option>
                                            <option value="Danish">Danish</option>
                                            <option value="Dutch">Dutch</option>
                                            <option value="English">English</option>
                                            <option value="Estonian">Estonian</option>
                                            <option value="Fiji">Fiji</option>
                                            <option value="Finnish">Finnish</option>
                                            <option value="French">French</option>
                                            <option value="Georgian">Georgian</option>
                                            <option value="German">German</option>
                                            <option value="Greek">Greek</option>
                                            <option value="Gujarati">Gujarati</option>
                                            <option value="Hebrew">Hebrew</option>
                                            <option value="Hindi">Hindi</option>
                                            <option value="Hungarian">Hungarian</option>
                                            <option value="Icelandic">Icelandic</option>
                                            <option value="Indonesian">Indonesian</option>
                                            <option value="Irish">Irish</option>
                                            <option value="Italian">Italian</option>
                                            <option value="Japanese">Japanese</option>
                                            <option value="Javanese">Javanese</option>
                                            <option value="Korean">Korean</option>
                                            <option value="Latin">Latin</option>
                                            <option value="Latvian">Latvian</option>
                                            <option value="Lithuanian">Lithuanian</option>
                                            <option value="Macedonian">Macedonian</option>
                                            <option value="Malay">Malay</option>
                                            <option value="Malayalam">Malayalam</option>
                                            <option value="Maltese">Maltese</option>
                                            <option value="Maori">Maori</option>
                                            <option value="Marathi">Marathi</option>
                                            <option value="Mongolian">Mongolian</option>
                                            <option value="Nepali">Nepali</option>
                                            <option value="Norwegian">Norwegian</option>
                                            <option value="Persian">Persian</option>
                                            <option value="Polish">Polish</option>
                                            <option value="Portuguese">Portuguese</option>
                                            <option value="Punjabi">Punjabi</option>
                                            <option value="Quechua">Quechua</option>
                                            <option value="Romanian">Romanian</option>
                                            <option value="Russian">Russian</option>
                                            <option value="Samoan">Samoan</option>
                                            <option value="Serbian">Serbian</option>
                                            <option value="Slovak">Slovak</option>
                                            <option value="Slovenian">Slovenian</option>
                                            <option value="Spanish">Spanish</option>
                                            <option value="Swahili">Swahili</option>
                                            <option value="Swedish ">Swedish </option>
                                            <option value="Tamil">Tamil</option>
                                            <option value="Tatar">Tatar</option>
                                            <option value="Telugu">Telugu</option>
                                            <option value="Thai">Thai</option>
                                            <option value="Tibetan">Tibetan</option>
                                            <option value="Tonga">Tonga</option>
                                            <option value="Turkish">Turkish</option>
                                            <option value="Ukranian">Ukranian</option>
                                            <option value="Urdu">Urdu</option>
                                            <option value="Uzbek">Uzbek</option>
                                            <option value="Vietnamese">Vietnamese</option>
                                            <option value="Welsh">Welsh</option>
                                            <option value="Xhosa">Xhosa</option>
                                          </select>
                             </div>
                             <style>
                                 .language_check input[type=checkbox]{
                                    display: block;
                                 }
                             </style>
                             <div class="language_check1">
                                   <select name="" id="rate_id" placeholder="Choose a Language...">
                                       
                                       <option selected>Language Level</option>
                                       <option value="basic">Basic</option>
                                       <option value="intermediate">Intermediate</option>
                                       <option value="fluent ">Fluent </option>
                                       <option value="native ">Native </option>
                                   </select>
                                   
                                  </div>

                               

                                </div>
                                <div class="language_div"></div>
                                <div id="hiddenDiv">
                                    
                                    <input style="" onclick="add()" type="button" id="closeBtn" value="Choose Your Language Level"/>
                                </div>
                            <script>
                            function add(id){
                                    var tag = ''
                                    var inputStr = ''
                                    inputStr = document.getElementById('monitor').value
                                    var x = document.getElementById("language");
                                    var language = x.options[x.selectedIndex].text;
                                    var y = document.getElementById("rate_id");
                                    var level = y.options[y.selectedIndex].text;
                                    tag = language.concat(';',level)
                                    document.getElementById('monitor').value =inputStr.concat(',',tag)
                                    console.log(tag)
                                    }
                                </script>
                            <h3 style="margin-top: 15px;"> Other Skills</h3>
                            <!-- {{ form.category_industry }} -->
                            <input style="width:80%" class="hello" id="monitor" type="text" value="Web Developer, " data-role="tagsinput">
                        </div>
                        <div class="right_main_getting_footer">
                                 <button formnovalidate="formnovalidate" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="cancel">Previous </button>
                                            {{ wizard.management_form }}
                                        <button class="Continue" type="submit">Continue</button>
                            </div>
                        </div>
                    </form>      </div>
            </div>
            </div>

            </div>
        </div>
    </div>
    <script>
//             <!--$('#closeBtn').click(function(){-->
//                 <!--var languages=[];-->
//                 <!--var basic=[];-->
//                 <!--var newarray=[ ];-->
//                 <!--$.each($('.language_check option:checked'), function(){-->
//                     <!--languages.push($(this).val());-->
//                 <!--})-->
//                 <!--$.each($('.language_check1 option:checked'), function(){-->
//                     <!--basic.push($(this).val());-->
//                 <!--})-->
//                 <!--Array.prototype.push.apply(newarray, languages);-->
// <!--Array.prototype.push.apply(newarray, basic); -->
// <!--console.log(JSON.stringify(newarray))-->
//                 <!--console.log(newarray)-->


// <!--}); -->
        </script>
    </div>
    </section>
    

    <!-- <script src="js/main.js"></script> -->
    <script src="{% static 'profiles/js/bootstrap-tagsinput.js' %}"></script>
    <script>
        $(".hello").tagsinput('items')
           </script>
</body>

</html>
{% endblock %}