{% extends 'header/header_footer_in.html' %}

{% load static %}
{% load staticfiles %}
{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TechJobs</title>
    <link rel="shortcut icon" href="{% static 'home/images/Untitled-1.png'%}" type="image/png">
    <link rel="shortcut icon" type="image/png" href="{% static 'home/images/Untitled-1.png'%}" />

    <link rel="stylesheet" href="{% static 'profiles/freelancer_wizard/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    
        <!-- end header -->
    <!-- start section create -->
    <section id="getting_start">
        <div class="container">
            <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12">
                            <div class="main_left">
                                <ul class="main_left_ul">
                                    <li class="main_left_li active current"> 
                                        <a href="{% url 'profile_wizard:profile_wizard' 'starter' %}"><i class="fas fa-pencil-ruler"></i>Start<i class="fas fa-chevron-circle-down"></i></i></a>
                                    </li>
                                    <li class="main_left_li"> 
                                        <a href="#"><i class="fas fa-user-graduate"></i>Education <i class="fas fa-chevron-circle-down"></i></i></a>
                                    </li>
                                    <li class="main_left_li"> 
                                        <a href="#"><i class="fas fa-briefcase"></i>Employment  <i class="fas fa-chevron-circle-down"></i></i></a>
                                    </li>
                                    <li class="main_left_li"> 
                                        <a href="#"><i class="fas fa-search-dollar"></i>Hourly Rate<i class="fas fa-chevron-circle-down"></i></i></a>
                                    </li>
                                    <li class="main_left_li"> 
                                        <a href="#"><i class="fas fa-eye"></i>Languages & Skills <i class="fas fa-chevron-circle-down"></i></i></a>
                                    </li>
                                    <li class="main_left_li"> 
                                        <a href="#"><i class="fas fa-search-location"></i>Location <i class="fas fa-chevron-circle-down"></i></i></a>
                                    </li>
                                    <li class="main_left_li"> 
                                        <a href="#"><i class="fas fa-check"></i>Review <i class="fas fa-chevron-circle-down"></i></i></a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                                        

                        <div class="col-lg-9 col-md-12 col-sm-12 main_sign"><h1>Create your profile</h1>
                            <div class="main_sign_info">
                                <div class="col-md-12 main_sign_info_header">
                                    <p>If your profile is
                                        it will become the public profile you’ll use to market your freelance business
                                        to clients (you can edit it after approval).
                                        for inspiration? <a href="">Check out these tips. </a></p>
                                </div>
                            </div>
                     

                            <div class="col-md-12 prof_main">
                                <form  action="{% url  'profile_wizard:profile_wizard' step  %}" method="post" > {% csrf_token %}
                                    {{ wizard.management_form }}
                                    <div class="col-md-12 prof_main">
                                            <h2>Work format</h2>
                                            <span> if you also want to apply for full-time jobs, you can mark option  below:</span>
                                                <div class="radio_block">

                        
                                                          <div class="choose_radio">
                                                             


                                                                 {{form.status}}
                                                                <input type="hidden" id="input">
                                                              </div>
                                                              <script>
                                    function add(id){
                                        var checkBox = document.getElementById("fulltime");

                                        if (checkBox.checked == true){
                                            document.getElementById('input').value = "Fulltime";
                                            }else {
                                            document.getElementById('input').value = "Freelancer";
                                                   }


                                         }
                                        </script>
                                                          </div>

                                                    </div>
                                        </div>
                                <div class="prof_title" >
                                    <h2>Add a professional title </h2>
                                    <span>Try to choose a title that will help you stand out <i
                                            class="fa fa-question-circle some"></i>.</span>


                                    {{ wizard.management_form }}
                                    {{ form.prof_title }}
                                    <div style="visibility: hidden; display: contents;"> {{ form.status }}</div>

                                    <h2>Write a professional overview </h2>
                                    <span>Highlight your top skills, experience, and interests. This is one of the first
                                        things clients will see on your profile.</span>
                                    {{ wizard.management_form }}
                                        {{ form.prof_overview }}
                                        <div class="right_main_getting_footer">
                                            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="cancel">Previous </button>
                                            {{ wizard.management_form }}
                                        <button onclick="add(id)" class="Continue" type="submit">Next</button>


                                            </div>
                                   
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="{% static 'profiles/freelancer_wizard/js/main.js' %}"></script>-->
</body>

</html>
{% endblock %}