<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>TechJobs</title>
    <link rel="shortcut icon" href="{% static 'home/images/untitled-1.png'%}" type="image/png">
    <link rel="shortcut icon" type="image/png" href="{% static 'home/images/untitled-1.png'%}" />
    <!--about-->
    
    <!--header-->
    <link rel="stylesheet" href="{% static 'header_footer/logout/css/style.css' %}">
    <!--home-->
    
</head>
<body>
        <!--  start header -->
        <header>
            <div class="container">
                <div class="row">
    
                    <div class="col-lg-4 col-md-4 col-sm-10 col-10 logo">
    
                        <a href="{% url 'home:index' %}"><img src="{% static 'header_footer/logout/images/logo.png' %}" alt=""></a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-8 col-12 search">
    
    
                </div>
                    <div class="col-lg-5 col-md-12 nav_left">
                        <ul class="nav_left_ul">
                            <li>
                                <a href="{% url 'home:about'  %}">
                                        <i class="fa" aria-hidden="true"></i>About Us</i>
                                    </a>
                            </li>
                            <li>
                                    <a href="{% url 'users:login' %}">
                                            <i class="fa fa-sign-in" aria-hidden="true">Log In</i>
                                        </a>
                            </li>
                            <li>
                                    <a href="{% url 'users:register' %}">
    
                                        <i class="fa fa-user" aria-hidden="true">Sign Up</i>
                                        </a>
                            </li>
                            <li class="post_job">
                                <a href="#">Post a Job</a>
                            </li>
                        </ul>
                    </div>
                    <div id="hamburger">
    
                            <span class="bar"></span>
    
                            <span class="bar"></span>
    
                            <span class="bar"></span>
    
                          </div>
                </div>
    
    
            </div>
        </header>
    
    
        <!-- end header -->
{% block content %}
    {% endblock %}
      <!-- script -->
        <!--start footer-->
<footer>
<div class="container">
    <div class="row footer_head">
    <div class="logo_footer col-md-3 col-sm-12 col-12">
        <img src='{% static "home/images/logo.png" %}' alt="">
    </div>
    <div class="col-md-5 counter">
    <div class="col_fourth">

      <h2 class="timer count-title count-number" data-to="300" data-speed="1500"></h2>
       <p class="count-text ">Jobs Added</p>
    </div>

    <div class="col_fourth">

      <h2 class="timer count-title count-number" data-to="1700" data-speed="1500"></h2>
      <p class="count-text ">Jobs Posted</p>
    </div>

    <div class=" col_fourth">

      <h2 class="timer count-title count-number" data-to="11900" data-speed="1500"></h2>
      <p class="count-text ">Companies</p>
    </div>

    <div class="col_fourth end">

      <h2 class="timer count-title count-number" data-to="157" data-speed="1500"></h2>
      <p class="count-text ">Freelancer</p>
    </div>
</div>
<div class="social col-md-4">
    <div class="social_head">
        <h3>Follow Us</h3>
        <ul class="social_ul">
            <li>
                <a href="#">
                        <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#">
                        <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="#">
                        <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#">
                        <i class="fa fa-pinterest-p"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
</div>
<div class="footer_nav">
    <div class="row">
    <div class="col-md-4 col-sm-6 col-6 footer_nav_info">
        <h2>Company</h2>
        <ul>
            <li>
                <a href="{% url 'home:about' %}">About Us</a>
            </li>
            <li>
                <a href="{% url 'profile_wizard:freelancer_list' 'freelancer' %}">Freelancers</a>
            </li>
            <li>
                <a href="{% url 'profile_wizard:joblist' %}">Find Jobs</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-6 col-6 footer_nav_info">
        <h2>RESOURCES</h2>
        <ul>
           <li>
                <a href="{% url 'home:terms' %}">Terms</a>
            </li>
            <li>
                <a href="{% url 'home:privacy' %}">Pivacy Policy</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 footer_nav_info">
                    </div>
</div>
</div>
</div>
</footer>
        <!--end footer-->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="{% static 'header_footer/logout/js/main.js' %}"> </script>
      <!-- clicked -->
     <script>
         $(document).ready(function(){
      $('.header-user-menu-down').hide();
      $('.header-user-menu').click(function(){
          $('.header-user-menu-down').toggle(200);
      })
  })
  
      $('#hamburger').click( function() {
              
              $(this).toggleClass('animate');
              $('.nav_left').toggleClass('active');
              $('.nav_left_profile').toggleClass('active');
              
              
              });
     </script>
</body>
</html>