<!DOCTYPE html>
{% load static %}
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UpWork</title>
    <link rel="stylesheet" href='{% static "profiles/wizard_all/css/style.css" %}'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    
</head>
<body>
<form action="{% url 'users:logout'  %}" method="post">
				{% csrf_token %}
				<input type="submit" value="Logout"  class="btn btn-primary dropdown-toggle get-started-btn mt-1 mb-1"></input>
			</form>
    <!-- start section create -->
    <div class="create_head">
        <div class="container">
            
                <div class="col-md-12 col-sm-12 col-xs-12 main_sign">
                        <div class="main_sign_info">
                <div class="profiction_main">
                     <form  action="{% url  'profile_wizard:profile_wizard' step %}" method="post"> {% csrf_token %}
            {{ wizard.management_form }}
                        <h3 class="profiction">What is your English proficiency?  </h3> 
                        {{ form.language_compatancy }}
                              <h3 style="margin-top: 15px;">Category/industry</h3>
                         {{ form.category_industry }}

                        </div>
                    </div>
                    <button onclick="check()" type="submit" value="SUBMIT" class="btn btn-primary button_Continue">Save and Add more</button>
    </form>

</div>

    </div> 
</div>

    </body>
    </html>
   