*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i{
    color: #3f9bd7;
    vertical-align: middle;
    font-size: 21px!important;
}
p{
    font-family: Helvetica,Arial,sans-serif;
    /* font-size: 13px!important; */
    color: #656565 !important;
}
h2{
   
    line-height: 20px!important;
   
    font-weight: 300!important;
}
h3{
    line-height: 24px;
    font-size: 18px!important;
    font-weight: 500;    
    color: #222;
  
    
}
h4{
    color: #33518f;
    font-size: 16px!important;
    margin-top: 15px!important;
}
li{
    list-style-type: none;
}
a{
    
    color: black!important;
}
input[type=text], textarea, select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    height: 40px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #989090;
    border-radius: 22px;
  }
  select { border:1px solid rgba(0,0,0,.2); height: 40px!important; }
  input[type=text]:focus, textarea:focus, select:focus{
    box-shadow: 0 0 5px #33518f;
    
    margin: 1px 1px 3px 0px;
    border: 1px solid #33518f;
  }
  select option{
      border-radius: 50px;
  }
  label{
    color: black;
      font-weight: 700;
      font-size: 13px;
  }
/* input{
    margin-top: 15px!important;
    height: 40px;

} */



input:hover{
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    border: 1px solid #008329;
}
select{
    width: 200px;
    text-indent: 20px;;;
    height: 53px;;
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}
select:hover{
    box-shadow: 0 2px 15px rgba(49, 61, 63, 0.35);
}

body{
    background-color: #F2F2F2!important;
}
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */

 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height: 150px;
    background: #33518F; 
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5); 
}


body{
    
    background-color: #F2F2F2!important;
}

/*  end header */
section#getting_start {
    margin: 63px 0px 11px 0px;
    padding: 30px;
}
i.fas.fa-pencil-ruler, .fa-file-prescription,.fa-creative-commons-remix,.fa-eye,.fa-search-dollar,.fa-check,.fa-info {
    color: #A0A0A0;
    width: 35px;
    
}
i.fas.fa-chevron-circle-down{
    color: #A0A0A0;
    position: absolute;
    right: 0;
}

/* i.fas.fa-chevron-circle-down:checked {
   color: #33518f;
  } */
.main_left a{
    color: #A0A0A0!important;
}
 .main_left_ul, .main_left_li, .main_left_li a{
    
    margin-top: 15px;
    cursor: not-allowed;
}
/* end left */


/* start right */

.right_main_getting_start{
    position: relative;
    background-color: #fff;
    margin-top: 12px;
  padding: 30px;
    padding-left: 30px!important;
    padding-right: 30px!important;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}
.right_main_getting_header{
    width: 100%;
    justify-content: space-between;
    
    padding: 0px 24px 19px;
    border-bottom: 1px solid #E0E0E0;
    background-color: #F9F9F9;
}
.right_main_getting_footer{
    width: 100%;
    justify-content: space-between;
    
    padding: 0px 24px 19px;
    border-top: 1px solid #E0E0E0;
    background-color: #F9F9F9;
}
.right_main_getting_header h2{
    width: 100%;
}
input[type="radio"] {
    vertical-align: middle;
}
.radio_none_item{
    cursor: pointer;
    position: relative;
    background-color: #fff;
    margin: 35px  0;
  padding: 30px;
    padding-left: 30px!important;
    padding-right: 30px!important;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}

.radio_none_content {
    text-align: center;
}
.radio_none_item{
    margin-left: 50px;
}
.radio_block p{
    margin-top: 42px;
    margin-bottom: -14px;
}

.radio_none_item:hover{
    color: #008329;
    
    -webkit-box-shadow: 0 2px 10px 1px rgba(57,73,76,0.4), 0 1px 2px rgba(57,73,76,0.25);
    box-shadow: 0 2px 10px 1px rgba(57,73,76,0.4), 0 1px 2px rgba(57,73,76,0.25);
}
.radio_none_item.active{
    border-bottom: 2px solid #004085;
}




/* #New_jobs{
    display: ;
} */
.existing_draft:checked  .News_jobs{
    display:block;
  }
  input:checked + .New_jobs::after {
    display: block;
  }
  /* .none{
      display: none;
  } */
  .right_main_getting_header .cancel, .Post_jobs, .Save_exit,  .Continue, .right_main_getting_footer .cancel, .Continue{
    width: 200px;
    padding: 11px 28px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    border: solid 2px transparent;
    -webkit-font-smoothing: antialiased;
    margin-top: 15px;
    background: #fff;
    font-weight: 500;
    text-align: center;
    color: #33518f!important;
    cursor: pointer;
    white-space: nowrap;
    background-image: none;
    -webkit-transition: all .15s;
    transition: all .15s;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  }
  .right_main_getting_header .Continue, .right_main_getting_footer .Continue,.Post_jobs{
    background: #33518f!important;
    color: #fff!important;
  }

/* end right */






/*  start budget */
.pay_hour_none.post_title.active.col-md-12 input, .fix_hour_none.active.col-md-12 input, .fix_hour_none.active.col-md-12 textarea, .pay_hour_none.post_description.active.col-md-12 textarea{
    
    width: 60%;
}

.pay_hour_none{
    display: none;
}
textarea{
    min-height: 250px;;
}
input.input_price {
    width: 19%!important;
}
.input_right {
    margin-left: -15px;
}


.multiselect {
    width: 200px;
  }
  /* .fix_hour_none.active.col-md-12 h4, .pay_hour_none.active h4 {
    margin-left: 20px;
}
   */
  .selectBox {
    position: relative;
  }

  .selectBox select {
    
    width: 100%;
    
  }
  #checkboxes input, #checkboxes2 input{
    width: 8%!important;
    margin-left: 10px;
    padding-left: 15px;
    margin-right: 25px;
  }

  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes, #checkboxes2{
    display: none;
    border: 1px #dadada solid;
  }
  
  
  #checkboxes label, #checkboxes2 label {
    font-size: 15px;
      font-weight: 400;
    display: block;
  }
  
  #checkboxes label:hover, #checkboxes2 label:hover {
    background-color: #1e90ff;
  } 
  input[type='checkbox']{
      width: 50px;;
  }
  .freelancer_block{
      margin-left: 25px;;
  }
  .fa-dollar:before, .fa-usd:before {
    z-index: 5;
    content: "\f155";
    position: relative;
}
.freelancer_block input, .full_block input, textarea{
    padding: 15px!important;;
}
  input.input_price {
    padding-left: 15px;;
    position: relative;
    left: -26px;
    z-index: 1;
    
}
  input.input_price::placeholder {
    padding-left: 150px; ;
    
}

/*  end budget */


/* start review */
.review_header{
    display: flex;
    
}
a.Post_jobs {
    vertical-align: middle;
    margin-top: -4px;
}

.right_main_getting_content_review{
    padding-top: 10px;
}
.review_cowerkers label{
    padding-top: 20px;
    display: block;
}
.review_cowerkers input{
    padding-left: 15px; 
    width: 100%;
}
.review_cowerkers textarea{
    padding: 15px;
    width: 100%;
    height: 150px;;
}
.review_title_cont{
    padding-top: 15px;
}
.Post_jobs{
    
}
/* end review */


/* start footer */
footer{
    background: #091540;
    min-height: 450px;
    margin-top: 65px;
}
.footer_head{
    border-bottom: 1px solid #3c3c3c;
}
  .logo_footer{
      border-right: 1px solid #3c3c3c;
  }
  /*-=-=-=-=-=-=-=-=-=-=-=- */
  /* Column Grids */
  /*-=-=-=-=-=-=-=-=-=-=-=- */

.counter{
    display: flex;
    vertical-align: middle;
    border-right: 1px solid #3c3c3c;
}
.col_fourth{
    font-size: 15px;
    padding-left: 29px;
}
h2.timer.count-title.count-number {
    font-size: 25px;
}
.col-md-5.counter {
    padding-top: 15px;
}
p.count-text{
    color: #979797;
}
.logo_footer img {
    height: 50px;
    margin-top: 25px;
}

  .wrapper { width: 100%; margin: 30px auto; position: relative; }
  .counter { color: #ffffff; }

  .social_head h3{
      color: #979797;
  }
  .social_ul{
    justify-content: left;
    position: relative;
    bottom: -12px;
    display: flex;

  }
  ul.social_ul li {
    padding-left: 15px;
}
.social_ul a{
    padding: 7px 26px;

    color: #fff;
    background: #33518F;
    border-color: #fff;
}
.social_ul a i{
    color: #fff;
}
.footer_nav{
    padding-top: 10%;
}
.col-md-4.footer_nav_info h2 {
    font-size: 19px;
}
.footer_nav_info h2{
    color: #fff;
}
.footer_nav_info ul li a{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.739)!important;
}
.footer_nav_info ul li a:hover{
    color: #707070!important;
}
.footer_nav_info p{
    color:rgba(255, 255, 255, 0.739)!important;;
}
.footer_nav_info input{

    height: 43px;
    font-size: 15px;
    padding: 5px 25px;
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
    outline: none !important;
    z-index: inherit !important;
    background: #fff;;
    border: 1px solid #1a1a1a;
    color: #fff!important;
}
.input_footer{
    margin-top: 50px;
}
.fa-send-o:before, .fa-paper-plane-o:before {
    content: "\f1d9";
    padding: 10px;
    border-radius: 5px;
    font-size: 31px;
    background:rgb(223, 126, 15);
    color: #fff;
}
@media screen and (max-width:425px){
    .radio_none_item {
        margin-left: 0!important;
        width: 100%;
    }
    section#getting_start {
        margin: 100px 0px 11px 0px;
        padding: 0!important;
    }
}
@media screen and (max-width:768px){
    .col_fourth {
        font-size: 15px;
        padding-left: 0px;
    }
    ul.social_ul li {
        padding-left: 0px;
    }
    .radio_none_item {
        margin-left: 0px;
        width: 100%;
    }
    .pay_hour_none.post_title.active.col-md-12 input, .fix_hour_none.active.col-md-12 input, .fix_hour_none.active.col-md-12 textarea, .pay_hour_none.post_description.active.col-md-12 textarea {
        width: 100%;
    }
    input.input_price {
        width: 65%!important;
    }
    .right_main_getting_footer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0px 24px 19px;
        border-top: 1px solid #E0E0E0;
        background-color: #F9F9F9;
    }
}
/* end footer */
/*  end footer */



/* contextmenu */
.context-menu{
    width: 250px;;
    position: absolute;
    display: none;
}
#contextmenu{
    display: none;
}
/* contextmenu */