@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

i{
    color: #3f9bd7;
    font-size: 25px!important;
}
p{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 13px!important;
    color: #656565 !important;
}
span{
    font-family: 'Libre Franklin', sans-serif;
}
h2{
    font-family: 'Varela Round', sans-serif;
    line-height: 24px!important;
    font-size: 22px!important;
    font-weight: 500!important;

}
h3{
    
    font-family: 'Varela Round', sans-serif;
    font-size: 20px!important;
    font-weight: 500!important;
    font-size: 20px!important;
}
a{
    color: black!important;
}
input{
    margin-top: 15px!important;
    height: 40px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 20px;

}
    textarea{
        border-radius: 5px;
        border: 1px solid grey;
        padding: 20px 20px 20px 20px;
    
    }
    li{
        list-style-type: none;
    }
    select{
        border-radius: 5px;
        border: 1px solid grey;
    }
    input[type=text], textarea, select {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
                box-shadow: 0 1px 6px rgba(57,73,76,0.35);

        border: 1px solid #9c9c9c;
    }
    select { border:1px solid rgba(0,0,0,.2); height: 40px!important; }
    input[type=text]:focus, textarea:focus, select:focus{
        -webkit-box-shadow: 0 0 5px #33518f;
                box-shadow: 0 0 5px #33518f;


        border: 1px solid #33518f;
    }
    select option{
        border-radius: 50px;
    }
    label{
        color: black;
        font-size: 16px;
        font-weight: 500!important;
    }
    ::-webkit-scrollbar {
        width: 12px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        height: 150px;
        background: #33518F;
        -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
    }
    a{
        font-family: 'Comfortaa', cursive;
    }

    /* input */


    /*end input */


    input:hover{
        -webkit-box-shadow: inset 0 0 5px #3f9bd7;
                box-shadow: inset 0 0 5px #3f9bd7;
        border: 1px solid #3f9bd7;
    }
    select{
        text-indent: 20px;;;
        height: 53px;;
        -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);;
                box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    }
    select:hover{
        -webkit-box-shadow: 0 2px 15px rgba(49, 61, 63, 0.35);
                box-shadow: 0 2px 15px rgba(49, 61, 63, 0.35);
    }



body{

    background-color: #F2F2F2!important;
}
header{
    top: 0;
    background: #fff;
    z-index: 9999;
    position: fixed;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
            box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    padding: 15px;
    width: 100%;
}

section#log_in {
    margin-top: 5%;
}
.search {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

  .searchTerm {
    width: 200px;
    border: 1px solid rgba(0, 180, 204, 0.226);
    border-right: none;
    padding: 5px;

    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  .nav_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    margin-top: -6px;

}

  .searchTerm:focus{
    color: #00B4CC;
  }
  input#id_password2 {
    width: 88%;
    margin-top: 15px;
}

  .searchButton {
    width:100%;
    height: 40px;
    border: 1px solid rgba(0, 180, 204, 0.226);
    border-left-width: 0px;
    background: #af6e7400;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  .fa-search:before {
    color: #6e83af;
    content: "\f002";
}

  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 17%;


  }

  .logo{
      text-align: center;
  }
  .logo img {
    margin-top: 13px;
    height: 50px;
}
  .nav_left{
  display:flex;
  justify-content:flex-end;
      padding-top: 15px;
      margin-top: -6px;
  }

  .nav_left ul{
    margin-left: -38px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;


  }
  .nav_left ul li {
    padding-left: 30px;
}


/* user header */



/* The user menu */
/* The user menu */
.header-user-menu img{
    cursor: pointer;
    width:50px;
    border-radius: 50px;

}

.header-user-menu ul{
    display: none;;
}
.header-user-menu ul {
    position: absolute;
    display: none;
    width: 280px;
    background: #fff;
    padding: 14px;
    /* border-left-width: 64px; */
    border: 1px solid #33518f;
    border-top: none;
    margin-top: -52px;
    left: 85%;
}
p.user_type {
    font-size: 15px;
}
.header-user-menu ul li {
    margin-top: 15px;
}
.avatar_user{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.avatar_user img{
    vertical-align: bottom;
}
.fa-gears:before, .fa-cogs:before, .fa-sign-out-alt:before {
    vertical-align: -webkit-baseline-middle;

}

.bell {
    display: block;
    margin: 16px 25px 4px -43px;

}
.bell i{
   vertical-align: middle;
    font-size: 20px;
    display: block;
}
.nav_left_profile {
    margin-top: 5px;
    width: 6%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

li.menu_settings, li.logout {
    padding-left: 10px;
    border-left: 2px solid #3f9bd7;

}
li.menu_settings:hover, li.logout:hover  {
    padding-left: 10px;
    border-left: 2px solid #33518F;
    color: #33518F;

}
li.menu_settings:hover i, li.logout:hover i {
    color: #33518f;

}
li.menu_settings, li.logout {
    padding-left: 10px;
    border-left: 2px solid #33518F;

}
  li.post_job a, li.menu_settings a,  li.logout a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: -5px;
    font-size: 15px;

}
.header-user-menu-down i{
    font-size: 15px!important;
}
li.avatar_user{
    margin-top: -10px!important;
    border-bottom: 2px solid #33518f;
}
span.user_name{
    font-size: 20px;
    color: #33518F;
}

li.avatar_user img {
    border-radius: 15%;
}
.nav_left ul li a{
    font-size: 15px;
    padding-left: 30px;

    color: black;
}
.nav_left ul li:after{
    padding-left: 30px;;
    content: '|';
}
.nav_left ul li:last-child:after{

    content: '';
}
.nav_left ul li a:hover i{
    color: #33518F;
}
.fa-sign-in:before, .fa-user:before {
    padding-right: 15px;
}
.menu_settings i .logout i{
    padding: 5px
}
.header-user-menu ul {
    position: absolute;
    display: none;
    width: 280px;
    background: #fff;
    padding: 14px;
    /* border-left-width: 64px; */
    border: 1px solid #33518f;
    border-top: none;
    margin-top: 28px;
    left: 70%;
}
/* user header */
#hamburger {
	display: none;
	position: absolute;
    top: 18px;
    left: 85%;
    right: 0;
    bottom: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;


  }

  .bar {
	display: block  ;

	width:100%;
	height:20%;
	margin-top:20%;

	background: #000000;

	-o-transition:0.25s;

	transition:0.25s;
	-webkit-transition:0.25s;

  -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }

  .animate .bar:nth-child(1) {
	-webkit-transform: translateY(8px) rotate(45deg);
	    -ms-transform: translateY(8px) rotate(45deg);
	        transform: translateY(8px) rotate(45deg);
  }

  .animate .bar:nth-child(2) {
	opacity: 0;
  }

  .animate .bar:nth-child(3) {
	-webkit-transform: translateY(-16px) rotate(135deg);
	    -ms-transform: translateY(-16px) rotate(135deg);
	        transform: translateY(-16px) rotate(135deg);
  }

@media only screen and (max-width: 1200px) {
    .nav_left{

        display: none;;
    }

    .nav_left_profile {
        display: none;      position: absolute;
    }
    .nav_left_profile.active {
        display: block;


    }
    .search{
        display: none;;
    }

    /* .search.active{
        position: absolute;
        display: block;
    } */


    .nav_left ul {

        display: block;;
    }
    .nav_left ul li {
        text-align: center;
        border-bottom: 1px solid grey;
        padding-left: 25px;
        padding: 22px;
        font-size: 20px;
    }
    .nav_left{

        display: none;;
    }
    .search{
        display: none;;
    }

    /* .search.active{
        position: absolute;
        display: block;
    } */
    .nav_left.active{
        scroll-behavior: smooth;
        top: 77px;
        width: 100%;;
        background: #fff;;
        position: relative;
        height: 100vh;
        -webkit-transition-timing-function: ease-out;
             -o-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
        display: block;;


    }
    .nav_left.active ul li:after{
        content: '';

    }
    .nav_left_profile.active {
        position: absolute;
        left: 3%;
        top: 60px;
        display: block;
    }

    input[type=checkbox], input[type=radio] {
        vertical-align: bottom;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 0;
    }
    .jobs_progress_info_first .content_sign_input label {
        vertical-align: text-bottom;
        /* padding-left: 4px; */
    }
    .nav_left ul {

        display: block;;
    }
    .nav_left ul li {
        text-align: center;
        border-bottom: 1px solid grey;
        padding-left: 25px;
        padding: 22px;
        font-size: 20px;
    }
    .header-user-menu ul {
        position: absolute;
        display: none;
        width: 340px;
        background: #fff;
        padding: 14px;
        /* border-left-width: 64px; */
        border: 1px solid #33518f;
        border-top: none;
        margin-top: -55px;
        left: 70%;
    }
    #hamburger{
        display: block;
    }
}






@media only screen and (max-width: 320px) {
    .header-user-menu ul {
        position: absolute;
        display: none;
        width: 240px;
        background: #fff;
        padding: 14px;
        /* border-left-width: 64px; */
        border: 1px solid #33518f;
        border-top: none;
        margin-top: -53px;
        left: 85%;
    }

}
/*  end header */

.main_sign{
    background: #fbfbfb;
    padding: 30px;
    padding-left: 40px!important;
    padding-right: 40px!important;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
            box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}

.main_sign_info p{
    font-size: 15px!important;

}
.main_sign_info_header  {
    padding-left: 0!important;
    width: 100%!important;
    border-bottom: 1px solid rgba(57,73,76,0.35);;
}
.tell_us{
    padding-top: 25px;
}
.tell_us p{
width: 100%;
word-break: break-word;
}
.tell_us_header p{
    margin-top: 15px;
    font-weight: 500;
}
.avatar img{
    display: block;
    width: 100px;
    cursor: pointer;
    margin-left: 15px;


}

.avatar_add {
    margin-top: 15px;

    color: #008329;
    background-color: #fff;
    border-color: transparent;

}
.avatar_add p{
    padding: 7px 18px;
    line-height: 35px;
    margin-top: 15px;
    text-align: center;
    width: 200px;;
    background: #fff;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
            box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}
.avatar_add p::before{
}
.avatar-add p:hover{
    color: #008329;

    -webkit-box-shadow:bottom 0 1px 6px rgba(31, 36, 37, 0.35);

            box-shadow:bottom 0 1px 6px rgba(31, 36, 37, 0.35);
    padding-bottom: 5px;
}
button.Add_Photo {
    margin-top: 15px;
    margin-bottom: 15px;
}
button.Add_Photo i{
    padding: 7px 18px;
    font-size: 17px!important;
    line-height: 13px;
    border-radius: 2px;
    padding-bottom: 6px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    border: solid 2px transparent;
    background: #fff;

}


/* fulltime/freelancer */
.prof_main h2{
    margin: 25px 25px 3px 0px;
}
.prof_main{
    padding-left: 0!important;
}
.radio_block {
    padding-top: 20px;
}
.prof_main label{
    font-size: 18px;;
    font-weight: 400!important;
}

.choose_radio {
    display: flex;
    justify-content: space-around;
}
input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #33518f;
    border-radius: 0.2em;
    display: inline-block;
    height: 25px;
    width: 27px;
    padding-left: 0;
    position: relative;
    top: -2px;
    /* margin-top: -34px; */
    padding-bottom: 1.3em;
    margin-right: 1.2em;
    vertical-align: bottom;
    color: transparent;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
  }

  input[type=checkbox] + label:active:before {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  input[type=checkbox]:checked + label:before {

    color: #fff;
  }

  input[type=checkbox]:disabled + label:before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    border-color: #aaa;
  }

  input[type=checkbox]:checked:disabled + label:before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);

  }


/* fulltime/freelancer */

.prof_title{
    padding-top: 20px;
    padding-bottom: 15px;

}
.prof_title span{
    padding-bottom: 15px;
    display: block;
}
.prof_title input{
    margin-bottom: 25px;
    line-height: 35px;;
    margin-top: 3px!important;

}


.prof_title textarea{

    display: block;


}
input#id_starter-prof_title {
    width: 35%;
}
.button_Continue{
    margin-top: 50px;
}
.location_first{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
/* end first */

/* start education */
.education, .employment{
    margin-top: 10px;
    margin-bottom: 20px;

}
.employment_info_footer.col-md-12 {
    margin-top: 30px;
}
h3.education, h3.employment{
    display: inline;;
}
.button_reset{
    background: green;
}
span.add_span, span.add_span_2{
    cursor:pointer;
    margin-left: 15px;
    font-size: 26px;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
            box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    border-radius: 50%;color: #008329;
}

.education p, .employment p{
    margin-top: 15px;
}
.education_info_input_section.col-md-5 {
    margin-left: 8%;
}

#input_desctiption{
    padding: 15px;
    width: 100%;
    min-height: 200px;
    outline: none;
    resize: none;
}
.select_profiction, .select_category{
    width: 465px;
    height: 56px!important;
    line-height: 35px;
    padding: 8px;
background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
        -webkit-appearance: none;
        background-position-x: 430px;;
    display: block;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,.35);
            box-shadow: 0 1px 6px rgba(57,73,76,.35);
}
.select_profiction:hover, .select_category:hover{
    -webkit-box-shadow: 0 2px 8px rgba(57,73,76,.35);
            box-shadow: 0 2px 8px rgba(57,73,76,.35);
}
.select_profiction:after{
    content: '*';
    float:right
}
.select_profiction option,.select_category option{
    width: 465px;
}
.education_info_input_Degree.col-md-6 {
    display: grid;
}
.eemployment_info_input_Period.col-md-6 {
    display: grid;
}
/* select.select_profiction{
        width: 268px;
        padding: 5px;
        font-size: 16px;
        line-height: 1;
        border: 0;
        border-radius: 5px;
        height: 34px;
} */

/* end proficienty/ category/endustry */

/* start hour _rate */
.hour_rate{

    margin-top: 15px;


}
.hour_rate_info{
    margin: 30px 0 0 0px;;
    border-bottom: 1px solid rgba(57,73,76,0.35);;;
}
input.input_price{
    padding-left: 27px;
height: 40px;
width: 100px;
margin-bottom: 20px;
}
.fa-dollar:before, .fa-usd:before {
    content: "\f155";
    position: relative;
    left: 25px;
    vertical-align: middle;
    top: -3px;
}

input.input_price::-webkit-input-placeholder {
    position: relative;

    font-size: 20px;
}

input.input_price::-moz-placeholder {
    position: relative;

    font-size: 20px;
}

input.input_price:-ms-input-placeholder {
    position: relative;

    font-size: 20px;
}

input.input_price::-ms-input-placeholder {
    position: relative;

    font-size: 20px;
}

input.input_price::placeholder {
    position: relative;

    font-size: 20px;
}
.create_head{
    margin-top: 30px;
}
.create_head p{
    word-wrap: break-word;
}
/* .input_price:hover{
    border-color: #008329;
} */
.fa-question-circle:before {
    margin-left: 4px;
    content: "\f059";
    margin-top: 7px;
    cursor: pointer;
    pointer-events: cursor;
}
p.show_p{
    display: none;
    background: red;

}
i.fa-question-circle:hover p.show_p{
    display: block;
    background: red;
}
.add_location{
    border-bottom: 1px solid rgba(57,73,76,0.35);
    padding: 30px 30px;

}
.add_location h2{
    padding-bottom: 30px;

}
.add_location_info{
    width: 60%;
}
.add_location_info p{
    margin-top: -25px;
}
.add_location_info a{
    color: #008329!important;
}
.add_location_address{
    width: 100%;
}
/* input.select_input_1{
    width: 70%!important;
} */
.employment_radio input {
    height: auto;
}
.add_location_address input{
    width: 100%;
}
input.postal_input{
    width: 30%;
}
select.Country_code option{
    margin: auto;
}
input.select_input{
    padding-left: 15px;
    width: 70%;
    margin-left: 40px;
    margin-top: 0!important;
}
.hour_work{
    margin-bottom: 15px;
}
.Review_app{
    padding-top: 30px;
}
.Review_input button{
    margin-left: 15px;
    color: #37A000;
    background-color: #fff;
    height: 40px;;
    padding: 0 28px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    border: solid 2px transparent;
    -webkit-box-shadow: 0 2px 10px 1px rgba(57,73,76,0.4), 0 1px 2px rgba(57,73,76,0.25);
            box-shadow: 0 2px 10px 1px rgba(57,73,76,0.4), 0 1px 2px rgba(57,73,76,0.25);
}
.Review_input button h3{
    color:#37A000;
}
.Review_input button.active{

    background-color: #37A000;

}
.Review_input button.active h3{
    color: #fff;
    background-color: #37A000;

}
.right_main_getting_footer{
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 30px;
    padding: 0px 24px 19px;
    border-top: 1px solid #E0E0E0;
    background-color: #F9F9F9;
}
 .cancel,    .Continue{
    width: 200px;
    padding: 11px 28px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    border: solid 2px transparent;
    -webkit-font-smoothing: antialiased;
    margin-top: 15px;
    background: #fff;
    font-weight: 500;
    text-align: center;
    color: #33518f!important;
    cursor: pointer;
    white-space: nowrap;
    background-image: none;
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  }
 .Continue{
    background: #33518f!important;
    color: #fff!important;
  }
  a.Continue:hover{
      color: #fff!important;
  }
/* dhlaksjdkashjdl;kas;ldjas */
  .cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 666;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    overflow-y: scroll;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -o-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
  }
  .cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -o-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }

  .cd-popup-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    margin: 4em auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 1.3s;
       transition-duration: 1.3s;
  }
  .cd-popup_2 {
      z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    overflow-y: scroll;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -o-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
  }
  .cd-popup_2.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -o-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }

  .cd-popup-container_2 {
    position: relative;
    width: 90%;
    max-width: 600px;
    margin: 4em auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 1.3s;
       transition-duration: 1.3s;
  }
  .education_info_input{
      padding: 25px 50px;
  }

  .education_info_input label   {
    font-weight: 400;
    padding: 12px 0 0px 0;
  }
  .education_info_input input{
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top:0px!important;
  }
  .education_info_header{
    min-height: 55px;
    padding: 20px;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
            box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  }
  .education_info_header h3{
      font-size: 15px;
      float: left;
    display: inline-block;
  }
  .langauge {
    display: flex;
    justify-content: space-around;
}
.language_check, .language_check1 {
    width: 40%;
}
.language_check select, .language_check1 select {
    width: 90%;
}
input#closeBtn {
    background: #33518F;
    border: none;
    padding-right: 21px;
    color: #fff;
}
div#hiddenDiv {
    margin-top: 20px;
}   
  i.fa.fa-times{
      float: right;
  }


  .education_info_input_header{
      display: -ms-grid;
      display: grid;
  }
  .education_info_input_section select{
    width: 100%;
    height: 40px;
  }
  .education_info_input_section label{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }

  .education_info_footer{
      margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .education_info_footer.col-md-12 button {
    width: 25%;
}


select#select_period_month {
    margin-left: 42px;
}
  .employment_info_input{
      padding: 25px 50px;
  }
  input#Location_input {
  
}
.bootstrap-select>.dropdown-toggle {
    width: 100%;
    padding-right: 25px;
    height: 40px;
    z-index: 1;
}
.countrypicker .dropdown-menu.open {
    margin-left: -142%;
    padding: 0;
}
  .employment_info_input label   {
      padding: 12px 0 0 0;
    font-weight: 400;
  }

  .employment_info_input input{

      display: -webkit-box;

      display: -ms-flexbox;

      display: flex;
      margin-top:0px!important;
  }.employment_radio input{
    margin-top:14px!important;
  }
  .employment_info_input_Degree input {
    width: 100%;
}
.employment_info_input_section select {
    height: 40px;
    width: 100%;
}
  .employment_info_header{
    min-height: 55px;
    padding: 20px;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
            box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  }
  .employment_info_header h3{
      font-size: 15px;
      float: left;
    display: inline-block;
  }

  i.fa.fa-times{
      float: right;
  }



  .employment_info_input_section label{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }
  .button_save{
    position: relative;

    left: -16px;
    margin-left: 43px;
      background: #33518f!important;

  }
  .employment_info_footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

  }
  .employment_info_footer.col-md-12 button {
    width: 27%;
}
i.fas.fa-plus{
    padding-left: 5px;
    vertical-align: top;
}
.fa-plus:before {
    font-size: 14px;
    color: #fff;
    content: "\f067";
    position: relative;
    top: -3px;
}
  select.select_Role {
      width: 100%;

}
.add_location_address h2 {
    margin-bottom: -30px;
}
.raw{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.period_end_none .raw{
    display: none;
}
.employment_radio p{
    padding: 10px;
}
.employment_radio {
    padding-top: 25px;
    padding-left: 15px;
}
select#select_Role {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40px
}


.phone_number{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}






  i.fa.fa-times{
      float: right;
  }


  .employment_info_input_header{
      display: -ms-grid;
      display: grid;
  }


  .employment_info_input_section label{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }



  select.select_Role {
      width: 100%;

}
.raw{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.employment_radio p{
    padding: 10px;
}
.employment_radio {
    padding-left: 15px;
}
select#select_Role {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

section#getting_start {
    margin: 80px 0px 11px 0px;
    padding: 30px;
}
i.fas.fa-pencil-ruler, i.fas.fa-user-graduate,i.fas.fa-briefcase,i.fas.fa-search-location,.fa-creative-commons-remix,.fa-eye,.fa-search-dollar,.fa-check,.fa-info {
    color: #A0A0A0;
    width: 35px;

}
i.fas.fa-chevron-circle-down{
    color: #A0A0A0;
    position: absolute;
    right: 30px;
}

/* i.fas.fa-chevron-circle-down:checked {
   color: #33518f;
  } */
.main_left a{
    color: #A0A0A0!important;
}
 .main_left_ul, .main_left_li, .main_left_li a{

    margin-top: 15px;
    cursor: not-allowed;
}
li.main_left_li.active.current {
    border: 2px solid #33518F!important;
    color: red;
}
li.main_left_li.active.current a {

    color: #33518F!important;
}
li.main_left_li.active.current i {

    color: #33518F!important;
}
li.main_left_li.active.current .fa-chevron-circle-down:before {
    color: #33518F;
}
li.main_left_li.active {
    cursor: pointer;
    border-left: 2px solid #3F9BD7!important;
    padding: 11px 28px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 2px;

    border: solid 2px transparent;
    -webkit-font-smoothing: antialiased;
    margin-top: 15px;
    background: #fff;

    color: #3F9BD7!important;
    cursor: pointer;
    white-space: nowrap;
    background-image: none;
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}
li.main_left_li.active a, li.main_left_li.active i{
    color: #3F9BD7!important;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
/* end left */

/* done */

.done{
    display: -ms-grid;
    display: grid;
    padding: 50px;
    text-align: center;;
}
.done h2 {
    padding-bottom: 15px;
}
.done h3 {
    padding-bottom: 15px;
}
.done .fa-check-circle:before {
    color: green;
    content: "\f058";
}
.fa-caret-left:before {
    content: "\f0d9";
    vertical-align: middle;
    position: relative;
    top: 2px;
}
/* done */






/* start footer */
footer{
    background: #091540;
    min-height: 450px;
    margin-top: 65px;
}
.footer_head{
    border-bottom: 1px solid #3c3c3c;
}
  .logo_footer{
      border-right: 1px solid #3c3c3c;
  }
  /*-=-=-=-=-=-=-=-=-=-=-=- */
  /* Column Grids */
  /*-=-=-=-=-=-=-=-=-=-=-=- */

.counter{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    border-right: 1px solid #3c3c3c;
}
.col_fourth{
    font-size: 15px;
    padding-left: 29px;
}
h2.timer.count-title.count-number {
    font-size: 25px;
}
.col-md-5.counter {
    padding-top: 15px;
}
p.count-text{
    color: #979797;
}
.logo_footer img {
    height: 50px;
    margin-top: 25px;
}

  .wrapper { width: 100%; margin: 30px auto; position: relative; }
  .counter { color: #ffffff; }

  .social_head h3{
      color: #979797;
  }
  .social_ul{
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    position: relative;
    bottom: -12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

  }
  ul.social_ul li {
    padding-left: 15px;
}
.social_ul a{
    padding: 7px 26px;

    color: #fff;
    background: #33518F;
    border-color: #fff;
}
.social_ul a i{
    color: #fff;
}
.footer_nav{
    padding-top: 10%;
}
.col-md-4.footer_nav_info h2 {
    font-size: 19px;
}
.footer_nav_info h2{
    color: #fff;
}
.footer_nav_info ul li a{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.739)!important;
}
.footer_nav_info ul li a:hover{
    color: #707070!important;
}
.footer_nav_info p{
    color:rgba(255, 255, 255, 0.739)!important;;
}
.footer_nav_info input{

    height: 43px;
    font-size: 15px;
    padding: 5px 25px;
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
    outline: none !important;
    z-index: inherit !important;
    background: #fff;;
    border: 1px solid #1a1a1a;
    color: #fff!important;
}
.input_footer{
    margin-top: 50px;
}
.fa-send-o:before, .fa-paper-plane-o:before {
    content: "\f1d9";
    padding: 10px;
    border-radius: 5px;
    font-size: 31px;
    background:rgb(223, 126, 15);
    color: #fff;
}
.employment_info_input_Description texarea{
height:250px;
}

@media screen and (max-width:768px){
    .col_fourth {
        font-size: 15px;
        padding-left: 0px;
    }
    ul.social_ul li {
        padding-left: 0px;
    }
    .prof_title textarea{
        width:100%;
        display: block;


    }
    section#getting_start{
        padding:0;
    }
    .main_sign{
        padding-left: 0;
        padding-right: 0;
    }
    .education_info_footer.col-md-12 button{
        width: 100%;
    }
    .right_main_getting_footer {
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 30px;
        padding: 0px 24px 19px;
        border-top: 1px solid #E0E0E0;
        background-color: #F9F9F9;

    }
    .offset-1{
        margin-left: 0!important;
    }
    .select_profiction, .select_category{
        width: 100%;
    }
    .add_location_info{
        width: 100%;
    }
    .col-md-12.col-sm-12.col-xs-12.main_sign {
        text-align: center;
    }
    .main_sign {
        background: #fbfbfb;
        padding: 30px;
        padding-left: 15px!important;
        padding-right: 15px!important;
        -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
        box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    }
    .education_info_input_section select {
        margin-bottom: 10px;
        width: 100%;
        height: 40px;
    }

    .tell_us {
        padding-left: 0!important;
        padding-top: 25px;
        padding-right: 0!important;
    }
    .right_create_head {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .container-fluid {
        width: 100%;

        /* margin-right: auto; */
        /* margin-left: auto; */
    }
    .employment_info_input_section label{
        display: block;
    }
    .education_info_input_section label{
        display: block;
    }
}

/* vacation */

/* start vacation_banner */
@media only screen and (max-width: 967px) {
    .jobs_banner_content {
        display: none;
    }
    .jobs_content {
        display: none;

        -webkit-box-pack: justify;

            -ms-flex-pack: justify;

                justify-content: space-between;
    }

}