{% extends 'header/header_footer_in.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TechJobs</title>
    <link rel="shortcut icon" href="{% static 'home/images/Untitled-1.png'%}" type="image/png">
    <link rel="shortcut icon" type="image/png" href="{% static 'home/images/Untitled-1.png'%}" />
    <!-- <link rel="stylesheet" href="{% static 'profiles/freelancer_wizard/css/style.css' %}"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .main {
            margin: 140px 0 50px;
        }

        .main_pay {
            background: #fbfbfb;
            padding: 30px;
            padding-left: 40px !important;
            padding-right: 40px !important;
            -webkit-box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
            box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
        }
    </style>
</head>

<body>
    <div class="main">

        <div class="container">
            <div class="main_pay">
                <div class="row">

                    <div class="info_main" style="width: 100%; ">
                            <!-- <p>
                                {{ object.name }}
                            </p>

                            <h2>{{ object.name }}</h2> -->
                            <div class="contract_main" style="display: flex; justify-content: space-evenly;">
                        <div class="contract_first">
                            <h4>Job Title</h4>
                            <p>website</p>
                        </div>
                        <div class="contract_first">
                            <h4>Freelancer</h4>
                            <p>Davit botchorishvili</p>
                        </div>
                            </div>
                            <hr>
                            <div class="contract_second" style="display: flex; justify-content: space-evenly;">
                        <div class="price">
                            <h4>Price</h4>
                            <p> ${{ object.price }}</p>
                        </div>

                        {{ form.render }}

                    </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>

</html>
{% endblock %}