{% extends 'header/header_footer_in.html' %}
{% load static %}
{% load staticfiles %}
<html lang="en">
{% block content %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UpWork</title>
    <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <link rel="stylesheet" href="{% static 'profiles/settings/fill_company/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
</head>

<body>
    <!--  start header -->


    <!-- end header -->
    <!-- start section create -->
    <section id="getting_start">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="main_left">
                        <ul class="main_left_ul">
                            <li class="main_left_li active ">
                                <a href="{% url 'profile_wizard:settings' %}"><i class="fas fa-pencil-ruler"></i>Account Information<i
                                        class="fas fa-chevron-circle-down"></i></i></a>
                            </li>
                            <li class="main_left_li active current">
                                <a href=""><i class="fas fa-id-card"></i>Profile information<i
                                        class="fas fa-chevron-circle-down"></i></i></a>
                            </li>
                            <li class="main_left_li">
                                <a href="{% url 'profile_wizard:postjob'   %}"><i class="fas fa-briefcase"></i>Post jobs<i
                                        class="fas fa-chevron-circle-down"></i></i></a>
                            </li>
                            <!--<li class="main_left_li">-->
                                <!--<a href="#"><i class="fas fa-file"></i>Create Resume<i-->
                                        <!--class="fas fa-chevron-circle-down"></i></i></a>-->
                            <!--</li>-->
                            {% if user.status == 'Company' or user.status == 'Individual' %}
                            <li class="main_left_li">
                                <a href="{% url 'jobapply:myemployee' %}"><i class="fas fa-file"></i>My Emplyees<i
                                        class="fas fa-chevron-circle-down"></i></i></a>
                            </li>
                            {%endif%}


                        </ul>
                    </div>
                </div>


                <div class="col-lg-9 col-md-12 col-sm-12 main_sign">
                    <h1>Create Your Profile</h1>
                    <div class="main_sign_info">
                        <div class="col-md-12 setting_profile_avatar">
                            
                        </div>
                    </div>


                    <div class="col-md-12 edit_profile">
                        <div class="col-md-12 setting_profile_avatar">
                            <div class="setting_profile_header">
                            <h2>Company Details</h2>
                <form action="{% url 'profile_wizard:company_create'  %}" method="post">{% csrf_token %}
                                <!--<input type="text" name="name" value="" placeholder="Company Name">-->
                                {{form.company_name}}
                                <!--<textarea name="descriptiom" id="company_description" cols="60" rows="10" placeholder="Company Description" maxlength="200" ></textarea>-->
                                {{form.company_description}}
                                <!--<input type="text" name="Website" value="" placeholder="Website">-->
                                {{form.website}}

                            
                        </div>
                        <script>

                        </script>
                            <div class="setting_profile_content">
                            <h2>Contact Person Details</h2>

                                <!--<input type="text" name="name" value="" placeholder="Name">-->
                                {{form.contact_person_name}}
                                
                                <!--<input type="tel" name="tel" value="" placeholder="Tel" pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}-[0-9]{2}" required>-->
                                {{form.phone}}
                                {{form.email}}
                                

                            
                        </div>
                            <form class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12 avatar_settings">
                                   

                                </div>
                                <hr>
                               

                                <div class="right_main_getting_footer">
                                    <a href="Description.html" class="cancel">Back to main menu</a>
                                    <input type="submit" class="Continue">
                                </div>
                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <script src="js/main.js"></script>
   
</body>

</html>
{% endblock %}